/**
 * Site header
 */
.site-header {
    background-color:$theme-color;
    height: 56px;

    // Positioning context for the mobile navigation icon
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.site-brand{
    float: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.32);
    word-wrap: break-word;
    line-height: 56px;
    margin-bottom: 0;
}
.site-title {
    font-size: 2.25em;
    font-weight: 900;
    color: $site-title-color;
    &:hover {
        color: $site-title-color;
        text-decoration: none;
    }
    &:visited {
        color: $site-title-color;
    }
}
.site-description{
    font-size: 1.5em;
    font-weight: 500;
    color: $site-decription-color;
}
@include media-query($on-palm) {
    .site-description{
        display: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;

    #menu-icon {
        display: none;
    }

    .trigger{
        list-style-type: none;
        overflow: hidden;
        margin-bottom: 0;
        li{
            float: left;

                &:not(:first-child) {
                    margin-left: 20px;
                }

                a{
                    color: $site-nav-color;

                    &:after{
                        content: "";
                        display: block;
                        height: 0;
                        width: 100%;
                        background-color: $site-nav-color;
                        position: relative;
                        bottom:0.5em;
                        transition:height 100ms,bottom 100ms;
                        -moz-transition:height 100ms,bottom 100ms;
                        -o-transition:height 100ms,bottom 100ms;
                        -webkit-transition:height 100ms,bottom 100ms;
                    }

                    &:visited{
                        color: $site-nav-color;
                    }

                    &:hover{
                        color: $site-title-color;
                        text-decoration: none;

                        &:after{
                            height: 0.15em;
                            bottom: 0.65em;
                        }
                    }
                }
                &.active{
                    a{
                        &:after{
                            height: 0.15em;
                            bottom: 0.65em;
                        }
                    }
                }
        }
    }


    @include media-query($on-palm) {

        #menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 56px;
            text-align: center;
            color:$site-nav-color;

            &:before{
                content: "\F05E";
            }
            &:visited{
                color:$site-nav-color;
            }
            &:hover{
                text-decoration:none;
                color:$theme-color-light;
            }
        }

        .trigger {
            clear: both;
            display: none;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    height: 48px;
    background-color: $site-footer-color;
    line-height: 48px;
    text-align: center;
}

/**
 * Page content
 */
.page-content {
    padding: 86px 0;
    min-height: 100vh;
    .wrapper{
        padding:$spacing-unit;
        border: solid 1px $section-border-color;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(204, 204, 204, 0.12);
        background-color:$content-background;
    }
}

.primary{
    width: 67%;
    padding-right: $spacing-unit / 2;
    float: left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.secondary{
    width: 33%;
    padding-left: $spacing-unit / 2;
    float: left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
@include media-query($on-palm){
    .primary{
        width: 100%;
    }
    .secondary{
        position:fixed;
        z-index: 100;
        right: -318px;
        height: 100vh;
        top: 0;
        width:318px;
        padding:86px 15px;
        overflow: auto;
        background-color:$sidebar-color;
        transition:right 300ms;
        -moz-transition:right 300ms;
        -o-transition:right 300ms;
        -webkit-transition:right 300ms;
        border-left:solid 1px $section-border-color;
    }
}

.show-sidebar{
    right: 0!important;
}

.post-entry{
    &:not(:first-child){
        &:before{
            content: "";
            width: 33%;
            margin: 48px auto;
            border-top: solid 3px $section-divide-color;
            display: block;
        }
    }
}

.post-image{
    margin-bottom: 16px;
    a img{
        border-radius:3px;
    }
}

.entry-header{
    margin-bottom:-15px;
}

.entry-title a{
    font-size: 1em;
    color: $post-title-color;
    word-wrap: break-word;
    display: inline-block;

    &:after{
        content: "";
        display: block;
        background-color: $post-title-color;
        height: 2px;
        width: 0;
        margin: -5px auto auto auto;
        transition:width 300ms;
        -moz-transition:width 300ms;
        -o-transition:width 300ms;
        -webkit-transition:width 300ms;
    }

    &:hover{
        text-decoration: none;
        &:after{
                width: 100%;
        }
    }
}

.entry-footer{
    padding:0 $spacing-unit / 2;
    height: 48px;
    background-color:$section-bgcolor;
    border-radius:3px;
    border:solid 1px $section-border-color;
    line-height: 48px;
    color: $section-color;

    ul{
        list-style-type: none;
        margin-left:0;
        li{
            float: left;
        }
    }
    .post-meta{
        float: left;
        li{
            margin-right:0.8em;
        }
        .post-author:before{
            content: "\F008";
        }
        .posted-on:before{
            content: "\F068";
        }
    }
    .post-tags{
        float: right;
        &:before{
            content: "\F058";
            float: left;
        }
        li:not(:last-child):after{
            content: "/";
            margin: 0 0.3em;
        }
    }
}

.pages-nav{
    margin-top: 2 * $spacing-unit;
    width: 100%;
    text-align: center;
    .pagination{
        list-style-type: none;
        display: inline-block;
        li{
            float: left;
            text-align: center;
            line-height: 1.5em;
            font-size: 1.5em;
            width: 2em;
            height: 1.5em;
            background-color:$section-bgcolor;
            border-top:solid 1px $section-border-color;
            border-bottom:solid 1px $section-border-color;
            &.active{
                background-color:$section-disabled-bgcolor;
            }
            &:not(.active):hover{
                background-color:$theme-color;
            }
            &:first-child{
                border-radius:5px 0 0 5px;
                border-left:solid 1px $section-border-color;
            }
            &:last-child{
                border-radius:0 5px 5px 0;
                border-right:solid 1px $section-border-color;
            }
            a{
                color: $text-color;
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
                &:visited{
                    color: $text-color;
                }
                &:hover{
                    color: $section-color-hover;
                }
            }
        }
    }
}

.widget{
    &:not(:last-child){
        &:after{
            content: "";
            width: 33%;
            margin: 40px auto 40px 0;
            border-top: solid 3px $section-divide-color;
            display: block;
        }
    }
    .widget-title{
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 20px;
    }
    ul{
        list-style-type: none;
        margin-left: 0;
        li{
            &:not(:last-child){
                border-bottom:1px solid $section-border-color;
                margin-bottom:5px;
                padding-bottom:5px;
            }
            a{
                display: block;
                width:100%;
                margin: 0 auto;
                transition:width 200ms;
                -moz-transition:width 200ms;
                -o-transition:width 200ms;
                -webkit-transition:width 200ms;
                span{
                    display: block;
                    float: right;
                    width: 2em;
                    line-height: 24px;
                    border-radius:3px;
                    background-color:$theme-color-light;
                    color:$section-color-hover;
                    text-align: center;
                }
                &:hover{
                    width: 90%;
                    text-decoration: none;
                    span{
                        background-color:$theme-color;
                    }
                }
            }
        }
    }
}


#navi{
    display: none;
    @include media-query($on-palm){
        display: block;
    }
    ul li a{
        font-weight: 500;
        font-size: 1.5em;
    }
}

#searchbox{
    position: relative;

    input{
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        background: #sidebar-color;
        border: solid 2px $section-border-color-dark;
        border-radius: 3px;
        font-size: 1.2em;
        height: 2.5em;
        width: 100%;
        line-height: 2.5em;
        padding: 0 1em;
        outline: medium;
        &:focus{
            border-color:$theme-color-light;
        }
    }
    .search-results{
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        position: absolute;
        top:55px;
        background-color: $sidebar-color;
        width: 100%;
        border:solid 1px $section-border-color-dark;
        border-radius:3px;
        padding: 5px 16px 0;
        max-height: 15em;
        overflow: auto;
        display: none;
    }
}


.tag-link{
    background-color:$section-bgcolor;
    border-radius:3px;
    display: inline-block;
    margin: 0 6px 6px 0;
    padding: 4px 8px;
    color: $section-color-light;
    font-size: 0.875em;
    transition:color 200ms,background-color 200ms;
    -moz-transition:color 200ms,background-color 200ms;
    -o-transition:color 200ms,background-color 200ms;
    -webkit-transition:color 200ms,background-color 200ms;

    &:hover{
        background-color: $theme-color;
        color: $section-color-hover;
        transition:color 200ms,background-color 200ms;
        -moz-transition:color 200ms,background-color 200ms;
        -o-transition:color 200ms,background-color 200ms;
        -webkit-transition:color 200ms,background-color 200ms;
        text-decoration: none;
    }
    &:visited{
        color: $section-color-light;
    }
}

#contact{
    div{
        position:relative;
        height: 1.8em;
        .contact-link{
            width: 2em;
            height: 100%;
            background-color:$theme-color;
            color:$section-color-hover;
            border-radius: 3px;
            display: inline-block;
            font-size: 1em;
            line-height: 1.8em;
            text-align: center;
            margin-right: 1em;
            position: relative;
            bottom:0;
            &:hover{
                bottom: 5px;
                text-decoration: none;
                transition:bottom 200ms;
                -moz-transition:bottom 200ms;
                -o-transition:bottom 200ms;
                -webkit-transition:bottom 200ms;
            }
        }
        #email:before{
            content: "\F03B";
            font-family: "octicons";
        }
        #github:before{
            content: "\F00A";
            font-family: "octicons";
        }
        #rss:before{
            content: "\F034";
            font-family: "octicons";
        }
    }
}

#content{
    .content-text{
        ul li ul{
            padding-left:2em;
            li{
                font-size: 0.875em;
                &:first-child{
                    margin-top:5px;
                    padding-top:5px;
                    border-top:1px solid $section-border-color;
                }
            }
        }
    }
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
*icon
*/

.blog:before{
    content: "\F007";
}
.demo:before{
    content: "\F0BF";
}
.about:before{
    content: "\2665";
}


/*
*duoshuo
*/
.ds-thread{
    &:before{
        content: "";
        width: 33%;
        margin:48px auto;
        border-top: solid 3px $section-divide-color;
        display: block;
    }
    #ds-reset{
        background-color:$section-bgcolor;
        border:solid 1px $section-border-color;
        border-radius:3px;
        padding:$spacing-unit / 2;
        .ds-replybox{
            form{
                .ds-textarea-wrapper{
                    border-radius:3px 3px 0 0;
                }
            }
        }
        .ds-post-button{
            background:$theme-color!important;
            &:hover{
                background:$theme-color-light!important;
            }
        }
        a.ds-like-thread-button {
            background-image: none!important;
            border:none!important;
            border-radius:3px!important;
            span{
                text-shadow: none!important;
            }
            &:hover{
                background-color:$theme-color!important;
                span{
                    color: $section-color-hover!important;
                }
            }
        }
    }
}